/* Table of Content
==================================================
	
	
	#Import
	#Variables & Mixins
	#Site Styles
	#Page Styles
	#Media Queries


================================================== */
/*================================================
	#Import
================================================== */
@font-face {
  font-family: 'TradeGothic_CnBd';
  src: url("fonts/tradegothicltstd-bdcn20-webfont.eot");
  src: url("fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tradegothicltstd-bdcn20-webfont.woff") format("woff"), url("fonts/tradegothicltstd-bdcn20-webfont.ttf") format("truetype"), url("fonts/tradegothicltstd-bdcn20-webfont.svg#trade_gothic_lt_std_cnbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothic_Italic';
  src: url("fonts/tradegothicltstd-obl-webfont.eot");
  src: url("fonts/tradegothicltstd-obl-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tradegothicltstd-obl-webfont.woff") format("woff"), url("fonts/tradegothicltstd-obl-webfont.ttf") format("truetype"), url("fonts/tradegothicltstd-obl-webfont.svg#trade_gothic_lt_stditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothic';
  src: url("fonts/tradegothicltstd-webfont.eot");
  src: url("fonts/tradegothicltstd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tradegothicltstd-webfont.woff") format("woff"), url("fonts/tradegothicltstd-webfont.ttf") format("truetype"), url("fonts/tradegothicltstd-webfont.svg#trade_gothic_lt_stdregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*================================================
	#Variables & Mixins
================================================== */
/*================================================
	#Site Styles
================================================== */
html {
  background-image: url(../graphics/assets/noise.jpg); }

/* Typographic Styles 
============================================== */
/* General type styles */
body {
  color: #6e6e6e;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  font-family: "TradeGothic_CnBd", sans-serif;
  color: #4d4d4d;
  margin-bottom: .25em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4d4d4d; }

h1 {
  font-size: 3em;
  line-height: 1; }

h1.page-header {
  color: #fff;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 1260px;
  display: block;
  margin: 0 auto;
  padding: 0 1.25%; }

h2 {
  font-size: 2.25em;
  line-height: 1; }

h2.page-header {
  color: #d7d7d7;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); }

h3 {
  font-size: 1.75em;
  line-height: 1;
  color: #676767; }

h3.subhead {
  margin-bottom: .5em; }

h4 {
  font-size: 1.25em;
  line-height: 1;
  color: #e23a3e; }

h5 {
  font-size: 1.15em;
  line-height: 1;
  color: #4d4d4d; }

h5.tag {
  font-size: 90%;
  color: #fff;
  background-color: #e23a3e;
  display: inline-block;
  position: absolute;
  top: -1.25em;
  padding: .25em; }

h6 {
  font-size: 1.15em;
  line-height: 1;
  color: #4d4d4d;
  font-family: 'TradeGothic', sans-serif; }

h2.subnav-toggle {
  margin-bottom: .5em;
  display: inline-block;
  padding-right: .85em;
  padding-left: 1.25%;
  background-image: url(../graphics/assets/sprites-icons.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right -437px; }

.no-svg h2.subnav-toggle {
  background: url(../graphics/assets/sprites-icons.png) no-repeat;
  background-position-x: center;
  background-position: right -437px; }

a {
  color: #4d4d4d; }

a:hover {
  color: #e23a3e;
  border-bottom: 1px dotted #e23a3e; }

a.button,
button,
input[type="submit"] {
  background-color: #e23a3e;
  background-color: rgba(226, 58, 62, 0.8);
  font-size: 1em;
  margin-top: 4px;
  position: relative;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }

a.button:hover,
input[type="submit"],
button {
  color: #fff !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  border: none; }

a.button:after,
input[type="submit"]:after,
button:after {
  content: '';
  background-image: url(../graphics/assets/sprites-icons.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: center -345px;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 40px; }

blockquote, blockquote p {
  font-size: 1em;
  line-height: 1;
  color: #3b3b3b;
  font: italic "TradeGothic", sans-serif; }

blockquote {
  border-left: 3px solid #e23a3e; }

blockquote cite {
  display: block;
  font-size: .875em;
  margin-top: 1em; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #e23a3e; }

figcaption {
  color: #bbbbbb;
  margin-top: .5em; }

ul.none,
ol.none {
  list-style: none; }

/* Site and page specific styles */
.subnav {
  margin-bottom: 2.5em;
  margin-left: 1.25%;
  list-style-position: inside;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out; }
  .subnav a {
    font-size: 115%;
    line-height: 2;
    border: none; }
  .subnav a:hover {
    border-bottom: 1px dotted #e23a3e; }
  .subnav li {
    margin-bottom: .5em; }

.white {
  color: #ffffff; }

.red {
  color: #e23a3e; }

div.lead {
  box-shadow: 0px 7px 4px -6px rgba(0, 0, 0, 0.2); }

/* Table Styles */
th {
  font: normal 1em/1em "TradeGothic_CnBd", sans-serif;
  color: #6e6e6e;
  font-size: 1.25em; }

/* Containers 
============================================== */
body {
  overflow-x: hidden; }

/* Navigation */
header[role="navigation"] {
  /* Styles for nav container itself */
  max-height: 6em;
  border-bottom: 10px solid #e23a3e;
  background-color: #fff;
  padding: .75em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: .5s;
  /* Styles for children of nav container 
  ============================================== */ }
  header[role="navigation"].active {
    max-height: 100em; }
  header[role="navigation"] #logo {
    width: 8%;
    height: 4em;
    float: left;
    margin-right: 1.5%;
    text-indent: -9999px;
    background: url(../graphics/assets/logo.svg) no-repeat center;
    background-size: contain;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  header[role="navigation"] ul {
    float: left;
    width: 90.5%;
    margin-top: 1.25em;
    height: 100%; }
  header[role="navigation"] li {
    display: inline-block;
    padding: 0 2%; }
  header[role="navigation"] a {
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    font: normal .9em/1 "TradeGothic_CnBd", sans-serif;
    color: #4d4d4d;
    border-bottom: none; }
    header[role="navigation"] a:hover, header[role="navigation"] a:active {
      color: #e23a3e; }
    header[role="navigation"] a.hover {
      color: #e23a3e; }
    header[role="navigation"] a.toggle {
      display: block;
      border: 4px solid #fff;
      outline: 1px solid #cccccc;
      float: right;
      cursor: pointer;
      overflow: hidden;
      display: none;
      text-indent: -9999px;
      margin-top: 1em;
      height: 1.75em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  header[role="navigation"] #menu-toggle {
    width: 10%;
    background-image: url(../graphics/assets/sprites-icons.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position: center -44px; }
    header[role="navigation"] #menu-toggle.active {
      background-position: center -94px; }

.no-svg header[role="navigation"] #logo {
  background: url(../graphics/assets/logo.png) no-repeat center; }

.no-svg header[role="navigation"] #search-toggle,
.no-svg header[role="navigation"] #menu-toggle {
  background: url(../graphics/assets/sprites-icons.png) no-repeat;
  background-position-x: center; }

/* Page Title(Pages with background images at top) */
div[role="page-title"] {
  position: relative;
  background-color: #fff;
  border-bottom: 5px solid #cccccc;
  padding: 3em 2% 0 2%;
  /* Product Page Headers */ }
  div[role="page-title"].products {
    background: white url(../graphics/bg-products.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].better-world {
    background: white url(../graphics/bg-betterworld.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].academy {
    background: white url(../graphics/bg-academy.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].about {
    background: white url(../graphics/bg-about.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].press-room {
    background: white url(../graphics/bg-lifeatcobb.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].life-at-cobb {
    background: white url(../graphics/bg-lifeatcobb.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].product-header {
    background-image: url(../graphics/bg-product.jpg);
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    height: 24em;
    overflow: visible;
    border-bottom: 5px solid #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  div[role="page-title"] .product-image {
    margin: 0 auto;
    display: block;
    z-index: 2;
    position: relative;
    top: 0;
    max-height: 77%;
    max-width: 100%; }

.no-rgba div[role="page-title"] div.slide-description h2 {
  background-color: #000; }

/* Section of page before any body copy */
div[role="page-intro"] {
  padding-top: 2em; }

/* end page-intro */
/* Page Body(White background, 98% width) */
div[role="page-body"] {
  margin-top: 1em;
  padding: 2%;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  div[role="page-body"] .row {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #cccccc; }
  div[role="page-body"] .row:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  div[role="page-body"] .column.bc {
    padding-right: 3% !important; }

/* Footer Styles */
footer {
  background: url(../graphics/assets/texture-grey.png);
  background: url(../graphics/assets/texture-grey.svg);
  background-repeat: repeat-x;
  background-color: #333333;
  padding: 1.5em 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .9em;
  border-top: 1px solid #cccccc;
  border-bottom: 10px solid #e23a3e; }
  footer a {
    border: none;
    color: #6e6e6e; }
  footer .row {
    padding-left: 15%; }
  footer .container {
    background: #333333 url(../graphics/assets/logo.svg) left top no-repeat;
    background-size: 5em;
    padding-bottom: 8em; }

.no-svg footer .container {
  background: #333333 url(../graphics/assets/logo.png) left top no-repeat; }

/* #Page Styles
================================================== */
div.featured {
  margin-bottom: 3em; }
  div.featured img {
    margin-bottom: 0;
    border-bottom: 5px solid #e23a3e; }
  div.featured div.text {
    display: block;
    background-color: #fff;
    padding: 3%;
    border: 1px solid #cccccc;
    border-top: none; }
  div.featured p {
    margin-bottom: 0; }

/* Carousels/Sliders/The Devil */
#products-slider {
  border-bottom: 5px solid #cccccc;
  overflow: hidden; }
  #products-slider .carousel-item {
    padding: 3em 0 0 0;
    background: url(../graphics/bg-product.jpg) center bottom no-repeat;
    background-size: cover; }
  #products-slider .product-photo {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 12; }
  #products-slider .next-product,
  #products-slider .prev-product {
    position: absolute;
    top: 46%;
    width: 15%;
    text-align: center;
    opacity: 0; }
  #products-slider .prev-product img {
    float: left;
    position: relative;
    top: -1.5em;
    left: .25em; }
  #products-slider .next-product img {
    float: right;
    position: relative;
    top: -1.5em;
    right: .25em; }
  #products-slider .prev-product h5 {
    float: left; }
  #products-slider .next-product h5 {
    float: right; }
  #products-slider .prev-product {
    left: 7%; }
  #products-slider .next-product {
    right: 7%; }

.carousel-slide {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-slide .carousel-item {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  /* necessary for non-active slides */
  display: block;
  /* overrides basic carousel styles */
  z-index: 1;
  -webkit-transition: left .4s ease;
  -moz-transition: left .4s ease;
  -ms-transition: left .4s ease;
  -o-transition: left .4s ease;
  transition: left .4s ease; }

.carousel-slide .carousel-active {
  left: 0;
  position: relative;
  z-index: 2; }

.carousel-slide .carousel-in {
  left: 0; }

.carousel-slide-reverse .carousel-out {
  left: 100%; }

.carousel-slide .carousel-out,
.carousel-slide-reverse .carousel-item,
.carousel-slide-reverse .carousel-in {
  left: -100%; }

.carousel-slide-reverse .carousel-active {
  left: 0; }

.carousel-nav {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none !important; }
  .carousel-nav .prev,
  .carousel-nav .next {
    display: block;
    position: absolute;
    overflow: hidden;
    text-indent: 9999px;
    width: 40px;
    height: 40px;
    background-size: cover; }
  .carousel-nav .prev {
    left: 3%;
    top: 0;
    background: url(../graphics/assets/left-arrow.svg) center center no-repeat; }
  .carousel-nav .next {
    right: 3%;
    top: 0;
    background: url(../graphics/assets/right-arrow.svg) center center no-repeat; }
  .carousel-nav .prev:hover,
  .carousel-nav .next:hover {
    border-bottom: none; }

.no-svg #products-slider .prev,
.no-svg .carousel-nav .prev {
  background: url(../graphics/assets/left-arrow.png) center center no-repeat; }

.no-svg #products-slider .next,
.no-svg .carousel-nav .next {
  background: url(../graphics/assets/right-arrow.png) center center no-repeat; }

.slide-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.25em 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-wrap {
  position: relative; }

.small.carousel .slide-title h3,
.small.carousel .slide-title p,
.small.carousel .slide-title a {
  color: #fff;
  display: block;
  margin-bottom: 0; }
.small.carousel .slide-title a {
  padding: .5em 0 0 0; }
.small.carousel .slide-title a:hover {
  border: none;
  color: #e23a3e; }

.no-svg .small.carousel .slide-title {
  background-color: #808080; }

/* Life at cobb */
.job-board-button {
  display: none; }

.job-board {
  height: 45em;
  width: 100%; }

/* Products Page */
.products-feature {
  margin-bottom: 2.5em; }
  .products-feature .product {
    width: 24.5%;
    float: left;
    margin: 0 .25%;
    display: inline-block;
    border: 1px solid #cccccc;
    border-top: 5px solid #e23a3e;
    background-color: #fff;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .products-feature .product img {
      display: block;
      margin: 0 auto; }

.home-intro {
  padding: 0 10% !important; }

.contact-map {
  width: 100%;
  height: 20em;
  border: 1px solid #cccccc; }

/* Management page */
div.bio {
  margin-top: 2em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: .5em; }

div.bio:last-child {
  border: none;
  margin-bottom: 5em; }

div.bio .intro img {
  border: 1px solid #cccccc;
  float: left;
  margin-bottom: .5em; }

div.bio .intro h3,
div.bio .intro h4 {
  margin-left: 16%; }

/* History Page */
div.history {
  background: url(../graphics/assets/bg-history.gif) center center repeat-y; }

div.event {
  background-color: #fff;
  padding: 3% 4%;
  margin-bottom: 1em;
  margin-top: .5em;
  border: 1px solid #cccccc; }

div.event p:last-child {
  margin-bottom: 0; }

div.event img {
  margin: 1em auto 0 auto;
  display: block; }

div.date {
  padding-top: 9px;
  margin-top: 2em;
  text-align: center;
  background: url(../graphics/assets/bg-history-date.gif) center top no-repeat; }

div.date:first-child {
  margin: 0; }

div.date h4 {
  padding: 2%;
  background-color: #fff;
  border: 1px solid #cccccc; }

/* Distributors Page */
.accordion {
  max-height: 2em;
  overflow: hidden; }

.accordion.open {
  max-height: 2000em; }

.distributors {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-top: 5px solid #e23a3e;
  margin-top: 1em;
  padding: 2%; }

.distributor {
  margin-top: 1em;
  border-bottom: 1px solid #cccccc;
  margin-top: 2em;
  padding-bottom: .5em; }

.distributor img {
  max-height: 113px;
  margin-bottom: 1em; }

.distributor p {
  font-size: 85%;
  margin: 0; }

.distributors a.more-link {
  color: #e23a3e; }

.distributors .more {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.distributors .more.active {
  max-height: 500em; }

/* Guides - protects image overflow */
.guide img {
  max-width: 100%;
  display: block; }

/* Styles for sitefinity pagination */
.sf_pagerNumeric a {
  display: inline-block;
  padding: .25em .5em;
  margin-right: .5em;
  background-color: #fff; }
  .sf_pagerNumeric a:hover {
    border-bottom: none; }

.sf_PagerCurrent {
  color: #fff;
  background-color: #e23a3e !important; }
  .sf_PagerCurrent:hover {
    color: #fff; }

/* #Media Queries
================================================== */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 140%;
    line-height: 1.5em; } }
@media only screen and (max-width: 1440px) {
  body {
    font-size: 125%;
    line-height: 1.5em; } }
@media only screen and (max-width: 950px) {
  body {
    font-size: 100%;
    line-height: 1.5em; } }
@media only screen and (max-width: 880px) {
  .container .column.a {
    width: 100%; }

  .container .column.bc {
    width: 100%; }

  .container .column.fourth {
    width: 25%; }

  .container .column.half {
    width: 50%; }

  .container .column.three-fourths {
    width: 75%; }

  .container .column.full {
    width: 100%; }

  .container .column.one-third {
    width: 100%; }

  .container .column.two-thirds {
    width: 100%; }

  .pad-left {
    padding-left: 0; }

  .subnav {
    margin: 0 1.25%;
    max-height: 0;
    overflow: hidden;
    margin-bottom: .25em;
    list-style-position: inside; }

  .subnav.active {
    max-height: 50em;
    transition-delay: 0s;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em; }

  header[role="navigation"] {
    height: 6.4em; }
    header[role="navigation"] li {
      padding: 0 1.5%; }
    header[role="navigation"].active {
      height: 6.4em; }

  div[role="page-title"].products {
    background: white url(../graphics/bg-products-small.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].better-world {
    background: white url(../graphics/bg-betterworld-small.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].academy {
    background: white url(../graphics/bg-academy-small.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].about {
    background: white url(../graphics/bg-about-small.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].press-room {
    background: white url(../graphics/bg-lifeatcobb-small.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"].life-at-cobb {
    background: white url(../graphics/bg-lifeatcobb-small.jpg) no-repeat center center;
    background-size: cover;
    padding: 2em 3%; }
  div[role="page-title"] div.slide-description {
    width: 100%;
    left: 0;
    top: auto;
    bottom: -1px; }
    div[role="page-title"] div.slide-description h5.tag {
      left: 2%; }
    div[role="page-title"] div.slide-description h2, div[role="page-title"] div.slide-description p, div[role="page-title"] div.slide-description a {
      margin-bottom: 0; }
    div[role="page-title"] div.slide-description h2 {
      padding-top: 2.5%; }
    div[role="page-title"] div.slide-description p {
      padding-bottom: 2%; }
    div[role="page-title"] div.slide-description a {
      padding-bottom: 2%;
      padding-top: 0; }
    div[role="page-title"] div.slide-description a:hover {
      color: #e23a3e;
      border-bottom: 1px solid #e23a3e; }

  div[role="sidebar"] ul {
    padding-left: 0; }

  footer {
    font-size: 1em; }

  .products-feature .product {
    width: 49%;
    margin-top: .15em; }

  .products-slider .product-photo {
    top: -3em; }

  .job-board-button {
    display: inline-block; }

  .job-board {
    display: none; }

  .home-intro {
    padding: 0 !important; } }
@media only screen and (max-width: 680px) {
  div.orbit-wrapper div.slider-nav {
    display: none !important; }

  .container .column.fourth {
    width: 100%; }

  .container .column.half {
    width: 100%; }

  .container .column.three-fourths {
    width: 100%; }

  .container .column.full {
    width: 100%; }

  h1 {
    font-size: 2.75em; }

  header[role="navigation"] {
    height: 6.25em;
    padding: .5em; }
    header[role="navigation"].active {
      height: 23em; }
    header[role="navigation"] #logo {
      width: 18%;
      float: left;
      margin-right: 0;
      margin-top: .25em; }
    header[role="navigation"] ul {
      display: block;
      position: absolute;
      top: 3.5em;
      right: 0;
      text-align: right;
      width: 100%; }
    header[role="navigation"] li {
      display: block;
      padding: 0;
      padding-bottom: .5em;
      border-bottom: 1px solid #cccccc;
      margin-top: .875em;
      background-image: url(../graphics/assets/sprites-icons.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position: left -68px; }
      header[role="navigation"] li.has-dropdown, header[role="navigation"] li.has-dropdown:hover {
        display: block; }
    header[role="navigation"] li.sub-nav {
      float: none; }
    header[role="navigation"] a {
      display: block;
      margin-top: .5em;
      font-size: 1em; }
    header[role="navigation"] #menu-toggle {
      display: inline-block;
      margin-top: 1.5em; }

  .no-svg header[role="navigation"] li {
    background: url(../graphics/assets/sprites-icons.png) no-repeat;
    background-position-x: center; }

  div[role="page-title"] div.slide-description p {
    display: none; }
  div[role="page-title"] div.slide-description span.float-right {
    float: none; }
  div[role="page-title"].product-header {
    background-image: url(../graphics/bg-product.jpg);
    background-size: cover;
    background-position: center top;
    text-align: center;
    height: 25em;
    overflow: visible;
    border-bottom: 5px solid #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  div[role="page-title"] .product-image {
    top: 1em;
    max-height: 84%; }

  div[role="page-body"] {
    padding: 3.5% !important; }
    div[role="page-body"].container {
      width: 94% !important; }

  ul.subnav li {
    display: block;
    margin-right: 2%; }
  ul.subnav a {
    color: #4d4d4d; }

  footer .container {
    padding-top: 5em; }

  footer .row {
    padding-left: 0; }

  #products-slider .next-product {
    display: none; }

  #products-slider .prev-product {
    display: none; }

  .products-feature .product {
    width: 100%;
    margin-bottom: 1em; }

  .follow {
    float: none !important;
    width: 100% !important; }

  .app {
    float: none !important;
    width: 100% !important; } }
.social {
  text-align: center;
  background-color: white;
  padding-top: 22px; }
  .social > .social-contain {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
    .social > .social-contain > .follow {
      float: left;
      width: 50%; }
    .social > .social-contain > .app {
      float: right;
      width: 50%; }
      .social > .social-contain > .app > .app-left {
        padding: 0 1.25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        width: 53%; }
        .social > .social-contain > .app > .app-left > a img {
          float: right; }
      .social > .social-contain > .app > .app-right {
        padding: 0 1.25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        width: 47%; }
        .social > .social-contain > .app > .app-right > .app-right-inner {
          float: left;
          margin-top: 15px; }
        .social > .social-contain > .app > .app-right > a img {
          float: left; }
